.container {
  margin-top: 20px;
  height: 100vh;
  width: 100%;
}


.btn-edit {
  background-color: #6c757d;
  color: aliceblue;
}

.flex-card {
  display: flex;
  justify-content: space-between;
  margin: 10px 15px;
}


