.form-group {
  width: 100%;
  margin-bottom: 12px;
}

.edit {
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.cdk-global-overlay-wrapper {
  display: block;
  position: relative;
  z-index: 10;
}

.subitile {
  border: solid 0.2px black;
  padding: 10px;
}
